{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
<!--    seccion 1-->
<div class="row " style="background-color: dodgerblue;">
    <div class="col-lg-4 my-auto text-center" >
        <p class="text-uppercase pt-2" style="color:white; font-weight:Bold; font-size: 1.5em;">Tecnologias Chapinas</p>
    </div>
    <div class="col-lg-4"></div>

            <div class="col-lg-4 pt-1" style="text-align: right;">
                <input type="file" id="file-input" hidden="true"/>
                <button type="button" class="btn btn-lg btn-primary  mr-2" id="btnCargar" onclick="cargarArchivo()">Cargar Archivo</button>
                <button type="button" class="btn btn-lg btn-primary  mr-2">Peticiones</button>
                <button type="button" class="btn btn-lg btn-primary  mr-2">Ayuda</button>
            </div>
    </div>
</div>
<!--Seccion 2-->
<div class="row mt-2">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
        <div class="col-lg-4 pt-1" style="text-align: right;">
             <button type="button" class="btn  btn-lg btn-success mr-4">Enviar</button>
             <button type="button" class="btn btn-lg btn-danger mr-4">Reset</button>
        </div>
    </div>

<!--seccion 3-->
<div class="row mt-5">

    <div class="col-lg-6" align="center">
     <div class="form-group w-75">
    <label for="Textarea1">Entrada</label>
    <textarea class="form-control" id="Textarea1" rows="18"></textarea>
    </div>
    </div>

    <div class="col-lg-6"   align="center">
    <div class="form-group w-75">
    <label for="Textarea2">Salida</label>
    <textarea class="form-control" id="Textarea2" rows="18"></textarea>
    </div>
    </div>

</div>

{% endblock content %}

<!--Aqui indico que para index mi footer deberia ser diferente-->
<!--seccion 4-->
    {%block footer%}
  <footer class ="text-center text-lg-start bg-light text-muted fixed-bottom"  style="background-color: dodgerblue;font-size: 1.5em;">
        <div class="col-lg-12"> &copy;Todos los derechos reservados.</div>
    </footer>

{% endblock footer%}